<ul class="sidebar-list">
  <li class="sidebar-item">
    <% if current_page?(locations_path) %>
      <%= link_to t('your_listings'), locations_path, class: "sidebar-link active" %>
    <% else %>
      <%= link_to t('your_listings'), locations_path, class: "sidebar-link" %>
    <% end %>
  </li>
  <li class="sidebar-item">
    <% if current_page?(your_reservations_path) %>
      <%= link_to t('your_reservations'), your_reservations_path, class: "sidebar-link active" %>
    <% else %>
      <%= link_to t('your_reservations'), your_reservations_path, class: "sidebar-link" %>
    <% end %>
  </li>
</ul>
