<div class="secondary-container">
  <div class="container">
    <% meta_tag :page_title,page_title + ' - Impressum' %>

    <h2>Impressum</h2>

    Thorsten Claus <br>
    Gibbenhey 2 <br>
    44227 Dortmund <br>
    <br>
    Email: support@locationguru.net <br>
    <br>
    <p>
    Using graphics from Font-Awesome: <a href="https://fontawesome.com/license">Font Awesome License </a><br/>
    Einige Fotos von https://www.pexels.com <br/>
    <br/>
    <div>Design von:</div> <a href="https://www.myo-design.de/" class="myo-design-logo">
        <img src="https://www.myo-design.de/wp-content/uploads/2018/11/MYO_DESIGN_Logo_2019_schwarz.svg" alt="MYO DESIGN" title="">
      </a>
    <p/>
  </div>
</div>
