<h2>Impressum</h2>
Claus-Software <br>
Thorsten Claus <br>
Gibbenhey 2 <br>
44227 Dortmund <br>
<br>
Email: info@claus-software.de <br>
<br>
<p>
Using graphics from Fomt-Awesome: <a href="https://fontawesome.com/license">Font Awesome License </a>
</p>
