<% # A link cloud for special pages of a kind type %>
<hr>
Sie suchen nach einem bestimmten Typ? <br>
<div class="link-cloud-block">
    <div class= "link-cloud">
      <%=link_to 'Vereinsheime (KGV, Vereine)', '/guides/kgv' %>
    </div>

    <div class= "link-cloud">
      <%=link_to 'Party Räume mieten', '/guides/partylocations' %>
    </div>
</div>
