<% # A link cloud for special pages of a kind type %>
<hr>
Looking for a special kind? <br>
<div class="link-cloud-block">

    <div class= "link-cloud">
      <%=link_to 'Clubhouse', '/guides/clubhouse' %>
    </div>

</div>
