
<% if locations.count == 0 %>
<div class="panel panel-default">
  <div class="panel-heading">
    <%= t('.no_new_venues') %>
  </div>
  <div class="panel-body">
  </div>
</div>
<% else %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= t('.new_venues') %>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
          <% locations.each do |location| %>
          <tr>
            <td><%= link_to location.listing_name, location_path(location) %></td>
          </tr>
          <% end %>
      </table>
    </div>
  </div>
<% end %>
