
<div class="secondary-container">
  <div class="container">

  <h2>AGB für die Nutzung von Locationguru.net / Venueguru.net</h2>
  <p><strong>Allgemeine Geschäftsbedingungen für Interesseten und Anbieter von Einrichtungen zur </strong></p>

  <strong>Allgemeines</strong>
  <p>
    Nachfolgend finden Sie die allgemeinen Geschäftsregeln für die Nutzung der
    Platform Locationguru.net und Venueguru.net. Nachfolgend nur 'Platform' genannt.
  </p>

    <strong>Angebot, Umfang der Platform</strong>
  <p>
    Locationguru ist eine Platform für das Anbieten von Räumen, Säälen oder Hallen, die sich eignen für eine
    kurzeitige Vermietung für eine Veranstaltung ermöglicht. Mietvereinbarungen kommen ausschliesslich
    direkt zwischen Anbieter und Mieter zustande. Locationguru ist nicht vertragspartner
    zwischen Mieter und Vermieter. <br>
    Eine Vermietung dauert üblicherweise einen Tag, bis weniger als eine Woche für zB Schulungen.
    <br>
    Die Verfügbarkeit des Angebotes kann aus technischen Gründen kurzzeitig zum Beispiel
    zum Zwecke der Wartung außer Betrieb gesetzt werden.
    <br>
    Die Platform kann einzelne Anbgebote nach eigenem Ermessen von der Platform ausschliessen. <br>
    Gründe dafür können sein:
    - Die Räumlichkeit ist offensichtlich nicht für eine Veranstaltung geeignet.<br>
    - Die Texte, Photos lassen keine Eignung erkennen
  </p>
  <p><strong>Registrieung</strong></p>
  <p>
    Um einen Eintrag der Platform hinzuzufügen, bedarf es einer Anmeldung. Mit der
    Anmeldung werden diese AGBs akzeptiert.<br>
    Für die Anmeldung werden eine Email-Adresse und ein Passwort benötigt. Die Email
    adresse wird von der Platform ausschliesslich zur Anmeldung benutzt und wird nicht mit Dritten geteilt.
    Das Passwort wird verschlüsselt (Hashed and Salted) auf dem Server gespeichert.<br>
    Im Falle des Bekanntwerden des Passwortes verpflichet sich der Nutzer der Platform, dieses
    umgehend zu ändern. <br>
    Im Falle des bekanntwerden des Passwortes oder Email Adresse seitens der Platform
    verpflichtet die Platform sich, darüber unmittelbar den Nutzer zu informieren. Siehe
    dazu auch unsere Datenschutzerklärung.<br>
  </p>
  <p><strong>Erstellen von Eintragungen</strong></p>
  <p>
    Das Eintragen von Locations ist freiwillig. <br>
    Es werden keine Kosten für einen Eintrag erhoben.<br>
    Jeder anbieter kann beliebig viele Locations anbieten.<br>
    Voraussetzung ist allerdings, das der Anbieter die Rechte an den angebotenen Locations besitzt
    und rechte an Texte, Photos usw der Eintragungen hält. <br>
    Der Anbieter verpflichtet sich, das die Eintrgungen wahrheitsgemäss, sowie Photos und Texte
    frei von Rechten dritter, Persönlichkeits- oder Markenrechte ist.<br>
    Der Anbieter verpflichtet sich, umgehend Änderungen an einer Location, zB Wegfall
    einer Eigenschaft, baulliche Änderungen auf der Platform bekannt zu geben und den
    Eintrag ansonsten aktuell zu halten.<br>
    Fotos und Texte sollten ein mindestmaas an qualitätsansprüchen erfüllen. Das betrifft zum Beispiel
    die Auflösung, Format und Inhalt der Fotos.<br>
    Überschriften, und beschreibende Texte sollten die Location hinreichend beschreiben. <br>
    Im Fall von unzureichenden texten oder Fotos werden wir sie per E-Mail darauf aufmerksam machen.

  </p>
  <p><strong>Nutzungsrechte</strong></p>
  <p>
    Der Platform wird erlaubt sie ist aber nicht verpflichtet, sämtliche Bilder, Texte
    der angebotenen Location bis auf Wiederruf innerhalb der Platform zu nutzen. <br>
    Das bedeutet insbesondere, das alle Inhalte, die vom Anbietenden eingestellt werden
    auch öffentlich im Internet zur verfügung stehen. <br>
    Ein Wiederruf kann per Email erfolgen oder einfach durch entfernen des Photos oder Texte
    oder indem der Eintrag einfach vom Nutzer selber entfernt wird.<br>
    Der Anbieter versichert gegenüber Locationguru.net das der Nutzung der Photos und Texte
    keine Rechte Dritter entgegenstehen.<br>
  </p>

  <p><strong>Schlussbestimmugen</strong></p>
  <p>Gerichtsstand ist Dortmund</p>
  </div>
</div>
