<% # Should load cities as search lists, async? %>
<hr>
<%= t('.locations_in') %> <br>
<div class="link-cloud-block">
  <% @linkClouds.each do |cloud| %>
    <% if cloud.city %>
    <% # TODO keine Suche starten, sondern ein Link-Path aufrufen %>
    <div class= "link-cloud">
      <%= link_to cloud.city, '/cities/' + cloud.city %>
    </div>
    <% end %>
  <% end %>
</div>
