<% # Should load cities as search lists, async? %>
<hr>
<%= t('.locations_in') %> <br>
<div class="link-cloud-block">
  <% @linkClouds.each do |cloud| %>
    <% if cloud.city %>
    <% # TODO keine Suche starten, sondern ein Link-Path aufrufen %>
      <%= link_to cloud.city, 'search?search=' + cloud.city , class: "link-cloud" %>
    <% end %>
  <% end %>
</div>
