<ul class="sidebar-list">
  <li class="side">
    <% if current_page?(subscriptions_path) %>
      <%= link_to t('.subscriptions'), subscriptions_path, class:"sidebar-link active" %>
    <% else %>
      <%= link_to t('.subscriptions'), subscriptions_path, class:"sidebar-link" %>
    <% end %>

  </li>
  <li class="side">
    <% if current_page?(payment_method_path) %>
      <%= link_to t('.payment_method'), payment_method_path, class:"sidebar-link active" %>
    <% else %>
      <%= link_to t('.payment_method'), payment_method_path, class:"sidebar-link" %>
    <% end %>
  </li>
</ul>
