<footer class="container">
  <p class="float-right">
    <a href="#">Nach Oben</a>
  </p>

  <p>© 2017-2018 <a href="https://Claus-Software.de">Claus-Software</a>
    .
    <a href="https://claus-software.de/kontakt/">Kontakt</a>
    ·
    <%= link_to t('.become_a_host'), new_location_path %>
    ·
    <%= link_to t('.privacy'), privacy_path %>
    ·
    <%= link_to t('.impressum'), impressum_path %>
  </p>
</footer>
