<div class="header <%= @background_header_class %>">
  <div class="guru-centered guru-home">
    <%= image_tag 'logo/logo_white.svg' %>
  </div>
  <div class="header-centered">
    <h1><%= t('locationguru_subtitle') %> <br> <%= t('site_slogan') %>
    </h1>
  </div>
</div>
