

<div class="text-center">
  <h3><span><i class="fa fa-search"></i></span> <%= t('.no_search_results')  %></h3>
  <%= t('.try_another_search')  %>
  <br/> <br/>

  <button class="btn btn-form btn-small">
   <%= link_to t('.search_for_more'), root_path, style: "color: white; text-decoration:none"   %>
  </div>
</div>
