  <% if @photos.length > 0 %>
    <% @photos.each do |photo| %>
        <div class="responsive">
        <div class="gallery">
          <a href="<%= photo.image.url() %>" >
            <%= image_tag photo.image.url(), alt: @location.listing_name, width: "600", height: "400" %>
          </a>
        </div>
      </div>
    <% end %>
    <div class="clearfix"></div>
  <% end %>
