  <h1 class="venue-name"><%= @location.listing_name %></h1>
  <h3><%= @location.subtitle %></h3>
  <% if !@location.address.blank? %>
  <address>
    <%= html_line_breaks(@location.address) %>
  </address>
  <% end %>
