<div class="row">
  <div class="col-md-12">
    <h1><%= @location.listing_name %></h1>
      <% if !@location.address.blank? %>
      <address>
        <%= html_line_breaks(@location.address) %>
      </address>
      <% end %>
  </div>
</div>
