
<div class="header">
    <%= image_tag @location.cover_photo(:original), class: "img-header", alt: @location.listing_name %>
    <% meta_tag :image, @location.cover_photo(:thumb) %>
    <div class="guru-centered guru-location">
      <%= image_tag 'logo/logo_white.svg', alt: 'Guru logo' %>
    </div>
</div>
