<div class="row">
  <div class="col-md-12">
    <%= image_tag @location.cover_photo(:original), class: "img-header", alt: @location.listing_name %>
    <% meta_tag :image, @location.cover_photo(:thumb) %>
  </div>
</div>
