<% if @photos.count > 0 %>
  <br><br>
  <div class="row">
    <% @photos.each do |photo| %>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading preview">
            <% if photo.image.exists? %>
              <%= image_tag photo.image.url(:thumb) %>
            <% end %>
          </div>
          <div class="panel-body">
            <span class="pull-right">
                <%= link_to location_photo_path(photo.location_id, photo),
                remote: true,
                method: :delete,
                data: {confirm: t('.are_you_sure')} do %>
              <i class="far fa-trash-alt-o" aria-hidden="true"></i>
            <% end %>
          </span>
        </div>
      </div>
    </div>
  <% end %>
</div>
<% end %>
