<% if @photos.count > 0 %>
  <br><br>
  <div class="row">
    <% @photos.each do |photo| %>
      <% if photo.is_main %>
        <%= render partial: 'photos/single_photo', locals: {photo: photo} %>
      <% end %>
    <% end %>
    <% @photos.each do |photo| %>
      <% if !photo.is_main %>
        <%= render partial: 'photos/single_photo', locals: {photo: photo} %>
      <% end %>
    <% end %>
</div>
<%= javascript_include_tag 'photos_set_main' %>
<%= javascript_include_tag 'photos_delete' %>
<% end %>
