@import "bootstrap-sprockets";
@import "bootstrap";
@import "selectric";
@import "toastr";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "desktop";
@import "mobile";
@import "jquery-ui.min";
@import "jquery-ui.theme.min";
@import "simple_calendar";
@import "date-picker";
@import "image-gallery";
@import "color-palette";
@import "dark-mode";
@import "header";
@import "print";

@import url('https://fonts.googleapis.com/css?family=Arvo|Poppins&display=swap');

.translation_missing {
  color: red;
  font-style: italic;
}

body {
  background-color: $primary-background-color;
  color: $primary-text-color;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
}

.container {
  width: 90%;
}

.min-height {
  min-height: 60vh;
}

footer {
  margin-top: 50px;
}

h1 {
  font: Bold 30pt/34pt Arvo;
  text-shadow: 0pt 3pt 6pt #000000;
}

.venue-name {
  font-family: Poppins !important;
  text-shadow: none;
  color: $brand-text-color;;
}

a {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  color: $link-color;
  text-decoration: none;
}

// Navbar
.navbar-default {
  background-color: $primary-background-color;
  margin-bottom: 0;
  border-color: #4e5f7c;
}

.navbar-default .navbar-nav > li > a {
  color: $link-color;
}

.navbar-default .navbar-brand {
  font-size: 2em;
  font-weight: 400;
  color: $brand-text-color;
}

.navbar-button {
  margin-top: 10px;
  margin-left: 15px;
}

.container {
  margin-top:0;
}
.primary-container {
  background-color: $primary-background-color;
  color: $primary-text-color;

  .search-bar {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.secondary-container {
  background-color: $secondary-background-color;
  color: $secondary-text-color;
  a {
    color: $secondary-text-color;
  }
}

.orange-container {
  height: 80px;
  background-color: $orange-color;
  color: $primary-text-color;
  .btn-default {
    color: $primary-text-color;
    background-color: $primary-background-color;
    border-color: $primary-background-color;;
  }
  .container {
      transform: translate(0px,20px);
  }
}

.teaser-text {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

// Buttons
.btn {
  border-radius: 5px;
  font-weight: bold;
  padding: 9px 27px;
}

.btn-block {
  display: block;
  white-space: normal;
  width: 100%;
}

.action-listing {
  padding-top: 5px;
  margin-top: 5px;
}
// Panels
.panel-default .panel-heading {
  font-size: 18px;
  font-weight: bold;
}

.row-space-1 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.row-space-2 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.row-space-3 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.description {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}

div.or {
  hr {
    color: lightgray;
    box-shadow: 0 0 1px lightgray;
  }

  span {
    margin-top: -30px;
    margin-bottom: 20px;
    display: block;
    background-color: white;
    display: block;
    width: 50px;
    font-size: 1.2em;
  }
}


.listing-city {
  font: Bold 24px/32px Poppins;
  color: $alternative-text-color;
  text-align: center;
}

.listing-name {
  font: Regular 28px/32px Poppins;
  color: $alternative-text-color;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.listing-summary {
  color: $alternative-text-color;
  text-align: center;
  font-weight: lighter;
}

.listing-properties {
  color: $alternative-text-color;
  a {
    color: $alternative-text-color;
  }
}

img.location-thumb {
  width: 100px;
  height: 100px;
  object-fit: scale-down;
}
// forms
.search-control {
  color: $searchbox-text-color;
  padding-left: 45px;
  font-size: 1.25em;
  border-radius: 12px;
  height: 6rem;
  width: 100%;
  background: image_url('icons/venue_location.svg') no-repeat scroll 7px 7px;
  background-size: 2.5em;
  background-color: white;
}

.btn-search {
  height: 6rem;
  width: 100%;
}

.form-group {
  margin-bottom: 25px;
}

.form-control {
  border-radius: 2px;
  height: 4rem;
}

// sidebar
.sidebar-list {
  padding-left: 0;
  list-style: none;
}

.sidebar-item {
  padding: 0;
  font-size: 16px;
}

.sidebar-link {
  font-weight: normal;
  text-decoration: none;
}

.sidebar-link:focus,
.sidebar-link:hover {
  text-decoration: none;
}

.active.sidebar-link {
  font-weight: bold;
  text-decoration: none;
}

li.location_preview {
  margin-top: 5px;
}

li.feature {
  padding-bottom: 10px;
}

// In einem >contaiuner packen?
.left {
  width: 60%;
  float: left;
  min-height: 100vh;
  height: 100vh;
  overflow:scroll;
  padding-right: 10px;
}

.right {
  width:40%;
  min-height: 100vh;
  height: 100vh;
  float: right;
  padding-left: 10px;
}

// Active / Inactive signs
.location-status {
  color: #319d5d;
  padding-top:30px;
}
// Photo upload
.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: white;
  display: block;
}

// Header Picture in Listing

.img-header {
  display: block;
  margin: auto;
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.img.avatar.rounded {
  vertical-align: middle;
  border-radius: 6px !important;
}

.panel-heading.preview {
  padding: 0;
}

img {
  border-radius: 3px;
}

.preview img {
  width: 100%;
  height: 221px;
  object-fit: cover;
}

.venue-listing {
  margin-top: 20px;

  img {
   width: 100%;
   max-width: 332px;
   max-height: 200px;
   object-fit: cover;
   }

  .listing-city {
    margin-top: 8px;
    text-align: left;
  }
  .listing-name {
    margin-top: 8px;
    text-align: left;
  }
  .listing-summary {
    margin-top: 8px;
    text-align: left;
  }
  .listing-properties {
    margin-top: 8px;
    text-align: left;
  }
}


.amenities li {
  margin-bottom: 10px;
  font-size: 16px;
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none;
}

.statistic-table {
  padding-left: 25px;
}

.contact-table {
  width: 100%;
  border: none;
  margin-top: 20px;

  .first-cell {
    width: 20%;
  }
}

.contact-table td {
  border: none;
  // border-bottom: 1px solid;
  padding: 10px;
}

.contact-table .total td {
  font-size: 16px;
  font-weight: bold;
}

.form-control.datepicker {
  background-color: white;
  text-align: center;
}

.message-alert {
  font-size: 14px;
  padding-top: 10px;
}
// search
#main {
  height: 100%;
  overflow: hidden;
}

// Venue Maps
.maps-area-single {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}
// Maps Area multiple resultes
.maps-area-multiple {
  // position: fixed !important;
  width: 100%;
  height: 90%;
  padding-left: auto;
  padding-right: auto;
}

.map-listing-title {
  color: black;
}

// Home Page
.discovery-card {
  height: 326px;
  width:100%;
  object-fit: cover;
}

.banner {
  margin-top: 50px;
  margin-bottom: 50px;
}


.kind-cloud-block {
  padding-top: 20px;
  background-image: image_url('background_beams.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
}

.kind-cloud-element {
  background-color: white;
  font-size: 1.1em;
  text-align: center;
  display: inline-flex;
  padding: 25px;
  margin: 25px;
  border: 2px solid;
  border-color: #364A70;
  border-radius: 5px;
  a {
    color: $alternative-text-color;;
  }
}
.cities-container {
  background: transparent image_url('background_blue.jpg') 0% 0% no-repeat padding-box;
  padding-top: 1px;
  padding-bottom: 10px;

  .link-cloud-block {
    margin-top: 10px;
    padding-top: 20px;
  }

  .link-cloud {
    background-color: #FF8E49;
    font-size: 1.2em;
    text-align: center;
    border-radius: 5px;
    display: inline-flex;
    padding: 5px 10px 5px 10px;
    margin: 5px;

    a {
      color: $alternative-text-color;;
    }
  }
}

.no-location {
  width: 150px;
  max-height: 150px;
  border: 2px solid;
}

.top-right {
  text-align: right;
  position: absolute;
  right: 10px;
}

.message-scroller {
  overflow: scroll;
  max-height: 300px;
}

.availability-box {
  background-color: white;
  .available-message {
    color: black;
    margin-left: 10px;
  }
  .ui-widget-content {
    border: none;
  }

  .ui-datepicker {
    font-size: 1.3em;
    margin-left: auto;
    margin-right: auto;
  }
}

.venue-detail {
   // detail pane on venues
   color: $secondary-text-color;
}

#HW_badge_cont {
  left: 15px !important;
  position: absolute !important;
  display: inline !important;
}

// Sinmple calendar
.calendar-cell {
  word-break: normal;
}
