$main-background: #f8f8f8;
$light-background: #ffffff;
$black-background: #222;
$action-button-background: #00a699;
$default-textcolor:#565a5c;
$info-textcolor: #00a699;
$info-textcolor-active: #066165;
$brand-textcolor: #ff5a5f;
$brand-textcolor-active: #e00007;
$border-color: #c4c4c4;
$button-color: #484848;
$sidebar-color: #82888a;;
$sidebar-color-hover: #cacccd;

$message-alert: #d43242;

$facebook-button-color: #3b5998;
$facebook-button-color-active: #2d467b;
