
$primary-background-color: #364A70;
$primary-text-color: #FFFFFF; // white

$secondary-background-color: white;
$secondary-text-color: #364A70; // darker

$brand-text-color: #FF8E49; // Orange
$orange-color: #FF8E49;
$link-color: #e8e8e8;
$link-hover-color: #a9a8b4; 
$searchbox-text-color: #FF8E49;
$alternative-text-color: #364A70; // Dark-blue
