@media (prefers-color-scheme: dark) {
	body {
		background: #1F2037 !important;
        color: #a2a2a2 !important;
        scrollbar-face-color: ThreeDFace !important;
        scrollbar-shadow-color: ThreeDDarkShadow !important;
        scrollbar-highlight-color: ThreeDHighlight !important;
        scrollbar-3dlight-color: ThreeDLightShadow !important;
        scrollbar-darkshadow-color: ThreeDDarkShadow !important;
        scrollbar-track-color: Scrollbar !important;
        scrollbar-arrow-color: ButtonText !important;
	}
    .navbar-default {
        box-shadow: 3px 3px 5px #17182A !important;
        color: #28D1B6 !important;
        background: transparent !important;
        border: none !important;
    }
    .navbar-default .navbar-brand {
        color: #28D1B6 !important;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border: none !important;
    }
    a {
        color: #28D1B6 !important;
    }
    .panel-default .panel-heading {
        background-color: #38425B !important;
    }
    .panel {
        background-color: rgba(20, 20, 20, .4);
        border: 1px solid transparent !important;
    }

    .link-cloud {
        background-color: #28D1B6 !important;
    }
    .link-cloud > a {
        color: white !important;
    }
    .btn.btn-form {
        background-color: #28D1B6 !important;
    }
    .btn.btn-default {
        border-color: #28D1B6 !important;
        color: #28D1B6 !important;
    }

    .btn > a:hover {
       color: #fff !important;
    }
    .form-control {
        background: transparent !important;
        border: 1px solid #28D1B6 !important;
    }
    input {
        border: none;
        border-bottom: 2px solid #28D1B6 !important;
    }
    .checkbox > label {
        color: white !important;
    }
    .selectric {
        border: 1px solid #00a699 !important;
        background: transparent !important;
        color: white !important;
        b {
            background: transparent !important;
            color: white !important;
        }
        .label {
            color: #555555 !important;
        }
    }
    .col-md-offset-4.col-md-4 {
        input {
            background: transparent !important;
            border: 1px solid #00a699;
        }
    }
    .form-control {
        color: white;
    }
    .selectric-scroll, .selectric-items li.highlighted {
        background: #1F2037;
    }
    .selectric-items {
        border: 1px solid #00a699;
    }
    .selectric-items li.highlighted {
        border: 1px solid #00a699;
        color: white;
    }
    .btn.btn-default {
        background: transparent;
    }
}
