
// Datepicker for public booked/free status per day

.maybe-blocked {
  opacity: .65;
  filter: Alpha(Opacity=65);
  border: 1px solid #fcefa1;
  background: #fbf9ee url("images/date-picker/ui-bg_glass_55_fbf9ee_1x400.png") 70% 70% repeat-x;
  color: #363636;

}
