@media (min-width: 1024px) {

  .container {
    margin-top: 20px;
    width: 80%;
  }

  // Search Page with maps on right side
  .left {
    width: 60%;
    padding-top: 15px;
    float: left;
    min-height: 100vh;
    height: 100vh;
    overflow:scroll;
    padding-right: 10px;
  }

  .right {
    width:40%;
    min-height: 90vh;
    padding-top: 15px;
    height: 90vh;
    float: right;
    padding-left: 10px;
  }

  .show-mobile-only {
    display: none;
  }

  .show-desktop-only {

  }
}
