@media (min-width: 1024px) {

  .container {
    margin-top: 20px;
    width: 80%;
  }

  // Search Page with maps on right side
  #left {
    padding: 10px 30% 10px 20px;
    overflow: scroll;
    height: 100%;
  }

  #right {
    position: absolute;
    top: 70px;
    right: 10px;
    width: 30%;
    height: 80%;
  }

  .show-mobile-only {
    display: none;
  }

  .show-desktop-only {

  }
}
