// Place all the styles related to the Location controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3 {
    .rating-headline {
      padding-right: 20px;
    }
  }

.add-review {
  padding-top: 20px;
  padding-bottom: 20px;
  }
