// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=13f0u0kllllnhGgmjsykne8jp6V */

// Feel free to copy&paste color codes to your application */


// As hex codes */

$color-primary-0: #236A62;	// Main Primary color */
$color-primary-1: #34C0B2;
$color-lighter-1: #d7f4f1;
$color-lighter-2: #ebfaf8;
$color-primary-2: #2B8D83;
$color-primary-3: #194641;
$color-primary-4: #0D2220; // Darker
