
  <div id="left">

    <h2>Party Venues, Rooms, Halls
    </h2>
    <small>Party venues for all audiences, for all kind of parties.</small>
    <br>
    <p>
    Party venues, party room rentals, and party halls to identify the perfect venue for your next event! Here you find a wide variety of party venues near your location for birthday parties, retirement parties, holiday parties, corporate parties, wedding parties and more.
    The rental halls provide some different options that your guests won't forget! If you are looking hall rentals near you or in a specific location, use the "search" button above to browse our different party venues by city and state.
    </p>
    <br>

    <div class="row" id="location_listing">
      <% if !@locations.empty? %>
        <%= render partial: 'locations/location_list' %>
      <% else %>
        <%= render partial: 'pages/no_locations_found' %>
      <% end %>
    </div>
  </div>

  <div id="right">
    <!-- google map -->
    <div id="map" data-mapdata='<%= raw @simple_locations.to_json.gsub("</", "<\\/") %>' class="maps-area-multiple">

      <%= javascript_include_tag('maps_location_list') %>
    </div>
  </div>
