
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>LocationGuru-
    <small><%=@location.listing_name %></small>
  </h1>
    <p>
      <%= @message.name %> send you a message:
    </p>
    -
    <p>
      <%= @message.message %>
    </p>
    -
    <br>
    https://Locationguru.net (Nachrichtn-Seite)

  </body>
</html>
