
    <h1>Location Guru</h1>
    <p>
      <%= html_line_breaks(t('.body_html',location_name: @location.listing_name, show_url: @show_url, edit_url: @edit_url)) %>
    </p>
    <br>
    <a href='https://Locationguru.net/'>locationguru.net</a>
