
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Location Guru</h1>
    <p>
      <%= t('.send_you_a_message_for',sender: @message.name , location_name: @location.listing_name) %>
    </p>
    <p>
      <%= html_line_breaks(@message.message) %>
    </p>
    <br>
    <%= t('.your_inbox') %> <br>
    <a href='https://Locationguru.net/dashboard'>Übersicht</a>

  </body>
</html>
