
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>LocationGuru</h1>
    <small><%=@location.listing_name %></small>
    <p>
      You send this message:
    </p>
    <p>
      <%= html_line_breaks(@message.message) %>
    </p>
    <br>
    https://Locationguru.net

  </body>
</html>
