<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Location Guru</h1>
    <p>
      <%= t('.you_send_this_message_for',location_name: @location.listing_name) %>
    </p>
    <p>
      <%= html_line_breaks(@message.message) %>
    </p>
    <br>
    https://Locationguru.net/

  </body>
</html>
