<div class="row">
  <% @locations.each do |location| %>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading preview">
          <%= image_tag location.cover_photo(:medium) %>
        </div>
        <div class="panel-body">
          <%= link_to location.listing_name, location %> <br/>
          <%= trLocationType(location.location_type) %> - <%= trKindType(location.kind_type) %>
        </div>
      </div>
    </div>
  <% end %>
</div>
