
    <%= render "html_helpers/mail_header" %>
    
    <p>
      <%= t('.body', location_name: @location.listing_name, edit_url: @edit_url).html_safe %>
    </p>
    <%= render "html_helpers/mail_footer" %>
